<% content_for(:css) do %>
  <%= stylesheet_link_tag 'message', media: 'all' %>
<% end %>
<div id="message-box-container">
  <div id="message-box-center">
    <div id="message-box" class="error">
      <%= link_to(root_url) do %>
        <%= image_tag("close.png") %>
      <% end %>
      <div class="title">
        Uh Oh!
      </div>
      <div class="content">
        <p>Something went wrong.<br />Sorry about that.<p>
        <p>Please try again!</p>
      </div>
    </div>
  </div>
</div>
